#Ignore results
results/ccc/*
results/logs/*

#Keep folders
!results/ccc/.keep
!results/honeybadger/.keep
!results/osiris/.keep
!results/conkas/.keep
!results/securify/.keep
!results/oyente/.keep
!results/maian/.keep
!results/mythril/.keep
!results/manticore/.keep
!results/smartcheck/.keep
!results/slither/.keep
!results/solhint/.keep
!results/logs/.keep

#Ignore DS_Store
.DS_Store

#Ignore pycache
*.pyc
__pycache__

#Ignore vscode
.vscode/

#Ignore default remote datasets
dataset/solidiFI

#Ignore PyCharm files
venv/
.idea/
results/*.*

#Ignore false positives/negatives
scripts/false_positives.csv
scripts/false_negatives.csv
